@font-face {
    font-family: comicSans;
    src: url("../assets/font/comic-sans-ms-font-family/COMIC.TTF");
}

/*------Snake Game------*/
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; 
}

body {
    display: flex;
    flex-direction: column;
    background-color: forestgreen;
}


